<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laohai.score.mapper.ScoreExamMapper">
    
    <resultMap type="ScoreExam" id="ScoreExamResult">
        <result property="id"    column="id"    />
        <result property="examCourseCode"    column="exam_course_code"    />
        <result property="examDate"    column="exam_date"    />
        <result property="classCode"    column="class_code"    />
    </resultMap>

    <resultMap id="ScoreExamScoreInfoResult" type="ScoreExam" extends="ScoreExamResult">
        <collection property="scoreInfoList" ofType="ScoreInfo" column="id" select="selectScoreInfoList" />
    </resultMap>

    <resultMap type="ScoreInfo" id="ScoreInfoResult">
        <result property="id"    column="id"    />
        <result property="examId"    column="exam_id"    />
        <result property="studentCode"    column="student_code"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectScoreExamVo">
        select id, exam_course_code, exam_date, class_code from score_exam
    </sql>

    <select id="selectScoreExamList" parameterType="ScoreExam" resultMap="ScoreExamResult">
        <include refid="selectScoreExamVo"/>
        <where>  
            <if test="examCourseCode != null  and examCourseCode != ''"> and exam_course_code = #{examCourseCode}</if>
            <if test="examDate != null "> and exam_date = #{examDate}</if>
            <if test="classCode != null  and classCode != ''"> and class_code = #{classCode}</if>
        </where>
    </select>
    
    <select id="selectScoreExamById" parameterType="Long" resultMap="ScoreExamScoreInfoResult">
        select id, exam_course_code, exam_date, class_code
        from score_exam
        where id = #{id}
    </select>

    <select id="selectScoreInfoList" resultMap="ScoreInfoResult">
        select id, exam_id, student_code, score
        from score_info
        where exam_id = #{exam_id}
    </select>

    <insert id="insertScoreExam" parameterType="ScoreExam" useGeneratedKeys="true" keyProperty="id">
        insert into score_exam
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examCourseCode != null">exam_course_code,</if>
            <if test="examDate != null">exam_date,</if>
            <if test="classCode != null">class_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examCourseCode != null">#{examCourseCode},</if>
            <if test="examDate != null">#{examDate},</if>
            <if test="classCode != null">#{classCode},</if>
         </trim>
    </insert>

    <update id="updateScoreExam" parameterType="ScoreExam">
        update score_exam
        <trim prefix="SET" suffixOverrides=",">
            <if test="examCourseCode != null">exam_course_code = #{examCourseCode},</if>
            <if test="examDate != null">exam_date = #{examDate},</if>
            <if test="classCode != null">class_code = #{classCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScoreExamById" parameterType="Long">
        delete from score_exam where id = #{id}
    </delete>

    <delete id="deleteScoreExamByIds" parameterType="String">
        delete from score_exam where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteScoreInfoByExamIds" parameterType="String">
        delete from score_info where exam_id in 
        <foreach item="examId" collection="array" open="(" separator="," close=")">
            #{examId}
        </foreach>
    </delete>

    <delete id="deleteScoreInfoByExamId" parameterType="Long">
        delete from score_info where exam_id = #{examId}
    </delete>

    <insert id="batchScoreInfo">
        insert into score_info( id, exam_id, student_code, score) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.examId}, #{item.studentCode}, #{item.score})
        </foreach>
    </insert>

</mapper>