<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laohai.course.mapper.CourseBaseMapper">
    
    <resultMap type="CourseBase" id="CourseBaseResult">
        <result property="id"    column="id"    />
        <result property="courseCode"    column="course_code"    />
        <result property="courseName"    column="course_name"    />
    </resultMap>

    <sql id="selectCourseBaseVo">
        select id, course_code, course_name from course_base
    </sql>

    <select id="selectCourseBaseList" parameterType="CourseBase" resultMap="CourseBaseResult">
        <include refid="selectCourseBaseVo"/>
        <where>  
            <if test="courseCode != null  and courseCode != ''"> and course_code = #{courseCode}</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCourseBaseById" parameterType="Long" resultMap="CourseBaseResult">
        <include refid="selectCourseBaseVo"/>
        where id = #{id}
    </select>

    <insert id="insertCourseBase" parameterType="CourseBase" useGeneratedKeys="true" keyProperty="id">
        insert into course_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseCode != null">course_code,</if>
            <if test="courseName != null">course_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseCode != null">#{courseCode},</if>
            <if test="courseName != null">#{courseName},</if>
         </trim>
    </insert>

    <update id="updateCourseBase" parameterType="CourseBase">
        update course_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseCode != null">course_code = #{courseCode},</if>
            <if test="courseName != null">course_name = #{courseName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseBaseById" parameterType="Long">
        delete from course_base where id = #{id}
    </delete>

    <delete id="deleteCourseBaseByIds" parameterType="String">
        delete from course_base where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>