<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设置课程')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <h1 th:text="|${model.gradeName != null ? model.gradeName : ''} ${model.courseName != null ? model.courseName : ''} 老师为 ${model.teacherName != null ? model.teacherName : ''}|"></h1>
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>老师姓名：</label>
                                <input type="text" name="teacherName"/>
                            </li>
                            <li>
                                <label>编号：</label>
                                <input type="text" name="teacherCode"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "course/teaching_setting";
        var teacherCode = /*[[${model.teacherCode}]]*/ '';
        var gradeCode = /*[[${model.gradeCode}]]*/ '';
        var courseCode = /*[[${model.courseCode}]]*/ '';
        function setTeacher(teacherCode){
            $.ajax({
                type: "post",
                url: prefix + "/setTeaching",
                data: {
                    "gradeCode": gradeCode
                    ,"teacherCode": teacherCode
                    ,"courseCode": courseCode
                },
                success: function(data) {
                    $.modal.msg("设置成功.");
                }
            });
        }
        $(function() {
            var options = {
                url: prefix + "/selectTeacher"+((teacherCode==null || teacherCode=='')?'':("?filterTeacherCode="+teacherCode)),
                // updateUrl: prefix + "/setTeacher/{teacherCode}",
                modalName: "设置老师信息",
                columns: [{
                    checkbox: false
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'teacherName',
                    title: '教师名称'
                },
                {
                    field: 'teacherCode',
                    title: '编号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="setTeacher(\'' + row.teacherCode + '\')"><i class="fa fa-edit"></i>设置</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>